
<%= month_calendar events: events do |date, entries| %>
  <span class="thin"><%= date.strftime("%d") %></span>

  <% entries.each do |entry| %>
    <div>
      <%= entry.mood %>
    </div>
  <% end %>
<% end %>
