<h2>Please share your mood today to see your profile. <i>You can always edit it later.</i></h2>
<center>
  <%= form_tag "/mood" do %>
    <%= collection_radio_buttons :mood, :id, Mood.all, :id, :name_to_emoji %>
    <br />
    <%= submit_tag "Submit" %>
  <% end %>
</center>
