<section class='container'>
  <section class='row content'>
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <h2>Suggested Videos</h2>
      <% unless @playlist_videos.current_video.nil? %>
        <div id="player">
          <script src="https://www.youtube.com/player_api" ></script>
          <script>
            let player;
            let position;
            function onYouTubePlayerAPIReady() {
              player = new YT.Player('player', {
                width: '100%',
                height: '390px',
                videoId: '<%= @playlist_videos.current_video.video_id %>'
              });
            }
          </script>
        </div>
      <% else %>
        No video to display
      <% end %>
      <div class='video-links'>
      <% unless @playlist_videos.videos.nil? %>
        <% @playlist_videos.videos.each do |video| %>
          <li><%= link_to video.title, "/videos?video_id=#{video.video_id}" %></li>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="additional-resources col-md-2">
      <a class="btn btn-outline-info resource-links" href='/videos?category=yoga'>All Yoga Videos</a>
      <a class="btn btn-outline-info resource-links" href='/videos?category=meditation'>All Meditation Videos</a>
      <a class="btn btn-outline-info resource-links" href='/videos?category=motivational'>All Motivational Videos</a>
    </div>
  </section>
</section>
