<section class='container'>
  <section class='row content'>
    <div class="col-md-2"></div>
    <% if @facade %>
    <div class="col-md-6">
      <h2>Suggested <%= @facade.videos.first.category.capitalize %> Videos</h2>
        <div id="player">
          <script src="https://www.youtube.com/player_api" ></script>
          <script>
            let player;
            let position;
            function onYouTubePlayerAPIReady() {
              player = new YT.Player('player', {
                width: '100%',
                height: '390px',
                videoId: '<%= @facade.current_video.video_id %>'
              });
            }
          </script>
        </div>
      <div class='video-links'>
        <ul class="list-group">
          <% @playlist_items.each do |video| %>
          <li class="list-group-item"><%= link_to video.title, "/videos?video_id=#{video.video_id}" %></li>
          <% end %>
        </ul>
        <%= will_paginate @playlist_items, :container => false %>
      </div>
    </div>
    <div class="additional-resources col-md-2">
      <a class="btn btn-outline-info resource-links" href='/videos?category=yoga'>Suggested Yoga Videos</a>
      <a class="btn btn-outline-info resource-links" href='/videos?category=meditation'>Suggested Meditation Videos</a>
      <a class="btn btn-outline-info resource-links" href='/videos?category=motivational'>Suggested Motivational Videos</a>
    </div>
    <% else %>
    No videos to display - Please return to your dashboard and log your mood
    <% end %>
  </section>
</section>
