<section class='container'>
  <section class='row'>
    <div class="col-md-6 justify-content-start">
      <h1>Stats</h1>

      <%= link_to "Pie Chart", stats_path(chart: :pie) %> | <%= link_to "Line Chart", stats_path(chart: :line) %>
      <br /><br />
      <% if params[:chart] == "pie" %>
        <%= pie_chart current_user.mood_query %>
      <% end %>

      <% if params[:chart] == "line" %>
        <%= line_chart current_user.mood_over_time,
          label: "Mood Rating", xtitle: "Date", ytitle: "Mood", width: "600px" %>
      <% end %>
    </div>
  </section>
</section>
